<!DOCTYPE html>
{% load static %}
<html lang="ja">
<head>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{% static "css/style.css" %}" />
</head>
<body>
    <h1>{{ title }}</h1>

    <a href="{% url 'webtestapp:create' %}">新規作成</a>

    <table>
      <tr>
      {% for h in header %}
        <th>{{ h }}</th>
      {% endfor %}
      </tr>

      {% for i in employees %}
      <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.mail }}</td>
        <td>{% if i.gender == False %}男{% endif %}
            {% if i.gender == True %}女{% endif %}</td>
        <td>{{ i.department }}</td>
        <td>{{ i.year }}</td>
        <td>{{ i.created_at }}</td>
        <td><a href="{% url 'webtestapp:update' i.id %}">更新</a></td>
        <td><a href="{% url 'webtestapp:delete' i.id %}">削除</a></td>
      </tr>
      {% endfor %}
  </table>
</body>
</html>